header{
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    background-color: rgba(0,0,0,.5);
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
